{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col text-center">
            <hr>
            <h2 class="logo-font mb-4">Shopping Bag</h2>
            <div class="d-flex justify-content-between align-items-center">
                <a href="{% url 'products' %}" class="btn btn-outline-secondary">
                    <i class="fas fa-chevron-left"></i> Keep Shopping
                </a>
                <div>
                    <h5 class="mystery_box rainbow-text">
                    {% if grand_total >= 500 %}
                        <h5 class="mystery_box rainbow-text"><strong>You qualify for a Mystery Box Tier 4!</strong> <i class="fa-solid fa-gift"></i></h5>
                    {% elif grand_total >= 250 %}
                        <h5 class="mystery_box rainbow-text"><strong>You qualify for a Mystery Box Tier 3!</strong> <i class="fa-solid fa-gift"></i></h5>
                    {% elif grand_total >= 150 %}
                        <h5 class="mystery_box rainbow-text"><strong>You qualify for a Mystery Box Tier 2!</strong> <i class="fa-solid fa-gift"></i></h5>
                    {% elif grand_total >= 50 %}
                        <h5 class="mystery_box rainbow-text"><strong>You qualify for a Mystery Box Tier 1!</strong> <i class="fa-solid fa-gift"></i></h5>
                    {% endif %}
                    </h5>
                    <h4><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                </div>
                <a href="{% url 'checkout' %}" class="btn btn-primary">
                    Secure Checkout <i class="fas fa-lock"></i>
                </a>
            </div>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col">Event Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col">Customization Details</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in bag_items %}
                        <tr>
                            <td class="p-3 w-25">
                                <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                            </td>
                            <td class="py-3">{{ item.product.name }}</td>
                            <td class="py-3">${{ item.product.price }}</td>
                            <td class="py-3">{{ item.quantity }}</td>
                            <td class="py-3">${{ item.product.price|calc_subtotal:item.quantity }}</td>
                            <td class="py-3">
                                {% if item.customization %}
                                    {% for key, value in item.customization.items %}
                                        <strong>{{ key|capfirst }}:</strong> {{ value }}
                                        <br>
                                    {% endfor %}
                                {% else %}
                                    No customization
                                {% endif %}
                            </td>
                            <td class="py-3">
                                <button type="button" class="remove-item-btn btn btn-danger" data-key="{{ item.customization_key }}">
                                    Remove Product
                                </button>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="8" class="text-center">
                                <p class="lead mb-5">Your bag is empty.</p>
                                <a href="{% url 'products' %}" class="btn btn-outline-black btn-lg">Keep Shopping</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p class="lead mb-5">Your bag is empty.</p>
            <a href="{% url 'products' %}" class="btn btn-outline-black btn-lg">Keep Shopping</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll('.saveCustomization').forEach(button => {
            button.addEventListener('click', function() {
                const itemId = this.dataset.itemId;
                const form = document.getElementById('customizationForm_' + itemId);
                const voucherType = form.querySelector('[name="voucher_type"]').value;
                const firstName = form.querySelector('[name="first_name"]').value;
                const lastName = form.querySelector('[name="last_name"]').value;

                fetch("{% url 'save_customization' %}", {
                    method: "POST",
                    headers: {
                        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: new URLSearchParams({
                        'item_id': itemId,
                        'first_name': firstName,
                        'last_name': lastName,
                        'voucher_type': voucherType
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if(data.status === 'success') {
                        alert('Customization saved!');
                        location.reload();  // Reload the page to update customization
                    } else {
                        alert('Failed to save customization. Please try again.');
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                    alert('An error occurred. Please try again.');
                });
            });
        });
    });
</script>

<script type="text/javascript">
    // Using jQuery
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            }
        }
    });
</script>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('.remove-item-btn').forEach(button => {
        button.addEventListener('click', function() {
            var key = $(this).data('key');
            var url = '{% url "remove_from_bag" "999" %}'.replace('999', key);
            
            $.ajax({
                url: url,
                type: 'POST',
                headers: {
                    'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
                },
                success: function() {
                    alert('Product removed successfully!');
                    location.reload(); // Reload the page to update the bag
                },
                error: function() {
                    alert('Error removing product. Please try again.');
                }
            });
        });
    });
});
</script>


{% endblock %}