{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 col-lg-6 my-auto text-center text-md-left">
                <h1 href="" class="display-4 logo-font text-white">
                    Elevate your performance with our sport-centric adventures and courses!
                </h1>
                <div class="mt-4">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Give it a try</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}