{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">
            <div class="hero-section">
                <h1 class="display-4 logo-font text-white">
                    Elevate Your Performance
                </h1>
                <p class="lead text-white">
                    Discover sport-centric <strong>adventures</strong> and courses tailored to boost your skills.
                </p>
                <a href="{% url 'products' %}" class="btn btn-primary btn-lg rounded-0 text-uppercase py-3 mt-4">
                    Give It a Try
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}