{% extends "base.html" %}
{% load static %}

{% block title %}Wishlist{% endblock %}
{% block meta_description %}{{ meta_description }}{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<html>
<head>
    <title>My Wishlist</title>
</head>
<body>
    <h1>My Wishlist</h1>
    <ul>
        {% for item in wishlist_items %}
        <li>{{ item.product.name }} - <a href="{% url 'remove_from_wishlist' item.product.id %}">Remove</a></li>
        {% empty %}
        <li>No items in your wishlist.</li>
        {% endfor %}
    </ul>
</body>
</html>
{% endblock %}