/* Base Styles */
html {
    height: 100%;
}

body {
    background: url('media/heroimage.jpeg') no-repeat center top fixed;
    background-size: cover;
    padding-top: 0; /* Add padding to accommodate the header */
    color: #555;
    font-family: 'Lato';
}

/* Logo and Branding Styles */
.logo {
    position: absolute;
    top: 1vw;
    right: 1vw;
    z-index: 999;
    height: auto;
    width: auto;
    max-height: 33%;
    max-width: 33%;
}

.logo-font {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
}

/* Navigation Styles */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    animation: fadeIn 0.5s forwards;
}

.navbar-font {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25vw;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.02em;
}

.navbar-nav {
    position: relative;
}

.navbar-nav .nav-item {
    margin-right: 15px;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0;
}

/* Dropdown Menu Styles */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.dropdown-item {
    color: #333;
    padding: 8px 12px;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #f5f5f5;
}

/* Button Styles */
.shop-now-button,
.btn-black,
.btn-outline-black {
    min-width: 200px;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.shop-now-button {
    background: #ff6b6b;
    color: #fff;
    border: none;
}

.shop-now-button:hover,
.btn-black:hover,
.btn-outline-black:hover {
    background: #222;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

/* Overlay Styles */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: linear-gradient(to right, white, lightgrey);
    z-index: -1;
}

/* Animation and Transition Styles */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Common Utility Classes */
.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.zoom-on-hover:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Banner Styles */
.banner {
    position: relative;
    width: 100%;
    height: 2vw;
    overflow: hidden;
    background-color: #1e1e1e;
    color: #fff;
    text-align: center;
}

.banner-text {
    position: relative;
    right: 0;
    transform: translateY(-50%);
    width: 100%;
    margin: auto;
    height: auto;
    white-space: nowrap;
    animation: slide 15s linear forwards;
    animation-delay: -5s;
}

@keyframes slide {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
}

/* Form Styles */
.form-group {
    margin-bottom: 1.5rem;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Adjust the card container to have a consistent height, making the layout uniform */
.card {
    height: 100%; /* Full height to ensure alignment at the bottom */
    display: flex;
    flex-direction: column; /* Ensures the footer aligns at the bottom */
}

/* Style for the image container to handle various image sizes */
.card-img-top {
    width: 100%; /* Full width of the card */
    height: 500px; /* Fixed height for all images */
    object-fit: cover; /* Covers the dimension, might crop the image */
}

/* Ensures the card body grows to fill available space, pushing the footer down */
.card-body {
    flex-grow: 1; /* Allows the body to expand and fill the available space */
}

/* Adjust footer to not have any unexpected spacing issues */
.card-footer {
    background: white;
    border-top: none; /* Removes the border if not needed */
}

/* Flex container setup for the main content wrapper */
.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Use full viewport height */
}

.footer {
    margin-top: auto; /* Pushes the footer to the bottom */
}

/* Media Queries */
@media (min-width: 1200px) {
    .container { max-width: 80%; }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container { padding-top: 164px; }
}

@media screen and (max-width: 768px) {
    .banner { height: auto; }
    .banner-text { font-size: 2.5vw; }
}