html {
    height: 100%;
}

body {
    background: url('media/heroimage.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    font-family: 'Roboto', sans-serif; /* or 'Montserrat', or any other font you prefer */
    font-size: 48px; /* Adjust font size as needed */
    font-weight: bold; /* You can adjust the font weight if necessary */
    color: #ffffff; /* White color for text to stand out on dark background */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds a subtle shadow to the text */
    letter-spacing: 1px; /* Adjust letter spacing for better readability */
  }

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #ff6b6b; /* Red background color for contrast */
    color: #fff; /* White text color */
    min-width: 200px; /* Adjusted minimum width */
    padding: 15px 30px; /* Add padding for better visual appearance */
    border: none; /* Remove button border */
    border-radius: 5px; /* Add some rounded corners for a softer look */
    font-size: 16px; /* Adjust font size for readability */
    font-weight: bold; /* Make text bold for emphasis */ c
    cursor: pointer; /* Change cursor to pointer to indicate interactivity */
    transition: background 0.3s ease; /* Add transition effect for smoother hover effect */
}

.shop-now-button:hover {
    background: #ff4d4d; /* Darker red background color on hover for emphasis */
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}