<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        
        <li class="nav-item dropdown">
            <a class="navbar-font nav-link text-black mr-5" href="#" id="adventures-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Adventures
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="adventures-link">
                <a href="{% url 'products' %}?category=hiking_trails" class="dropdown-item">Hiking Trails</a>
                <a href="{% url 'products' %}?category=water_adventures" class="dropdown-item">Water Adventures</a>
                <a href="{% url 'products' %}?category=camping_spots" class="dropdown-item">Camping Spots</a>
                <a href="{% url 'products' %}?category=adventure_travel_guides" class="dropdown-item">Adventure Travel Guides</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="navbar-font nav-link text-black mr-5" href="#" id="sportsevents-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sports Events
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sportsevents-link">
                <a href="{% url 'products' %}?category=try_out_session" class="dropdown-item">Try-Out Sessions</a>
                <a href="{% url 'products' %}?category=amateur_tournaments" class="dropdown-item">Amateur Tournaments</a>
                <a href="{% url 'products' %}?category=health_and_fitness_classes" class="dropdown-item">Health and Fitness Classes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="navbar-font nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=adventure_packages" class="dropdown-item">Adventure Packages</a>
                <a href="{% url 'products' %}?category=sports_gear_discounts" class="dropdown-item">Sports Gear Discounts</a>
            </div>
        </li>
    </ul>
</div>
