
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="navbar-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="navbar-font nav-link text-black mr-5" href="#" id="adventures-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Adventures
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="adventures-link">
                <a href="" class="dropdown-item">Hiking Trails</a>
                <a href="" class="dropdown-item">Water Adventures</a>
                <a href="" class="dropdown-item">Camping Spots</a>
                <a href="" class="dropdown-item">Adventure Travel Guides</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="navbar-font nav-link text-black mr-5" href="#" id="sportsevents-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sports Events
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sportsevents-link">
                <a href="" class="dropdown-item">Try-Out Sessions</a>
                <a href="" class="dropdown-item">Amateur Tournaments</a>
                <a href="" class="dropdown-item">Community Sports</a>
                <a href="" class="dropdown-item">Health and Fitness Classes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="navbar-font nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Adventure Packages</a>
                <a href="" class="dropdown-item">Sports Gear Discounts</a>
                <a href="" class="dropdown-item">Travel Deals</a>
            </div>
        </li>
    </ul>
</div>
